.popup__img_container-form-toggle {
  max-width: 40px;
  max-height: 40px;
  position: absolute;
}
.popup__img_container-form-toggle:hover {
  opacity: 0.4;
  transition: opacity 0.5s linear;
  cursor: pointer;
}
