.profile__info-button:hover {
  opacity: 0.4;
  transition: opacity 0.5s linear;
  cursor: pointer;
}
@media screen and (max-width: 320px) {
  .profile__info-button {
    max-width: 18px;
    max-height: 18px;
  }
}
