.profile__info {
  display: flex;
  flex-direction: row-reverse;
  color: white;
  max-width: 415px;
  max-height: 74px;
  column-gap: 18px;
  margin-left: 30px;
}
@media screen and (max-width: 320px) {
  .profile__info {
    max-width: 282px;
    max-height: 50px;
    margin-top: 30px;
  }
}
