.popup__container-form-inputs-button {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  border: 0;
  margin-top: 48px;
  background-color: #000;
  color: white;
  max-width: 358px;
  height: 50.15px; /*Arreglar este heigh, no se permite poner heights fijos*/
  width: 100%;
  cursor: pointer;
}
