.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 17px;
  margin: 50px auto 50px;
}
@media screen and (max-width: 320px) {
  .elements {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .elements {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
